<div id="<%= dom_id specialization %>">
  <p>
    <strong>Name:</strong>
    <%= specialization.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= specialization.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= specialization.content %>
  </p>

</div>
